<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.its.storage.dto.MemberDTO" alias="memberDTO" />
        <typeAlias type="com.its.storage.dto.ProductDTO" alias="productDTO" />
        <typeAlias type="com.its.storage.dto.InDTO" alias="inDTO" />
        <typeAlias type="com.its.storage.dto.OutDTO" alias="outDTO" />
        <typeAlias type="com.its.storage.dto.BoardDTO" alias="boardDTO" />
        <typeAlias type="com.its.storage.dto.CommentDTO" alias="commentDTO" />
    </typeAliases>
</configuration>