<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberSpace">
    <insert id="memberSave" parameterType="memberDTO">
        insert into member_table(memberName,memberPhone,memberEmail,memberPass) values (#{memberName},
                                                                                        #{memberPhone},
                                                                                        #{memberEmail},
                                                                                        #{memberPass})
    </insert>
    <select id="memberCk" parameterType="memberDTO" resultType="memberDTO">
        select*from member_table where memberEmail=#{memberEmail} and memberPass=#{memberPass}
    </select>
    <select id="memberList" resultType="memberDTO">
        select*from member_table
    </select>
    <select id="searchMember" parameterType="java.util.HashMap" resultType="memberDTO">
        select*from member_table where ${type} like concat('%',#{q},'%') order by id desc
    </select>
    <select id="nameCk" parameterType="String" resultType="memberDTO">
        select*from member_table where memberName=#{memberName}
    </select>
    <select id="emailCk" parameterType="String" resultType="memberDTO">
        select*from member_table where memberEmail=#{memberEmail}
    </select>
    <select id="myPage" parameterType="String" resultType="memberDTO">
        select*from member_table where memberEmail=#{memberEmail}
    </select>
    <select id="updatePage" parameterType="Long" resultType="memberDTO">
        select*from member_table where id = #{id}
    </select>
    <update id="updateMember" parameterType="memberDTO">
        update member_table set memberPass=#{memberPass} where id=#{id}
    </update>




</mapper>














