<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="productSpace">
    <insert id="productSave" parameterType="productDTO" useGeneratedKeys="true" keyProperty="id">
        insert into product_table(productClient,productName,productLocation,memberName) values (#{productClient},
                                                                                                #{productName},
                                                                                                #{productLocation},
                                                                                                #{memberName})
    </insert>
    <insert id="saveFile" parameterType="productDTO">
        insert into product_file_table(originalFileName,fakeFileName,productId)
        values (#{originalFileName},
                #{fakeFileName},
                #{id})
    </insert>
    <select id="productList" resultType="productDTO">
        select*from product_table;
    </select>
    <select id="searchProduct" parameterType="java.util.HashMap" resultType="productDTO">
        select*from product_table where ${type} like concat('%',#{q},'%') order by id desc
    </select>
    <update id="upCount" parameterType="inDTO" >
        update product_table set productCount=productCount + #{inCount} where productName = #{productName}
    </update>
    <update id="downCount" parameterType="outDTO">
        update product_table set productCount=productCount - #{outCount} where productName = #{productName}
    </update>
    <select id="productCk" parameterType="String" resultType="productDTO">
        select*from product_table where productName=#{productName}
    </select>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="productDTO">
        select*from product_table order by id desc limit #{start},#{limit}
    </select>
    <select id="productCount" resultType="integer">
        select count(id) from product_table;
    </select>
    <select id="productDetail" parameterType="Long" resultType="productDTO">
        select*from product_table p,product_file_table f where p.id = #{id} and p.id=f.productId
    </select>


</mapper>














